.btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #333;
    z-index: 100;
    outline: 0!important;
    /* transition: 0.4s; */
}
.btn:after{
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
/* .btn:active{
    bottom:50px;

} */