.container{
    margin-top: 50px;
    display: flex;
}

.avatar img{
    display: flex;
    width: 200px;
    border-radius: 20px;
    border: 3px solid #999  ;

}
.myself{
color: rgb(243, 193, 193);
display: flex;
flex-direction: column;

margin-left: 350px; 
 text-align: center;
}